{% extends "test_framework/base.html" %}
{% load extras %}
{% load static %}


 {% block breadcrumbs %}
          <ul class="breadcrumb">
                <li class="active"><a href="{% url 'api-root' %}">主页</a></li>

                <li><a href="{% url 'testcase-list' %}">测试用例管理</a></li>
          </ul>
      {% endblock breadcrumbs %}

       {% block content %}


<div class="content-main" role="main" aria-label="main content">


   <div class="container-fluid">


       <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
    <form action="{% url 'testcase-list' %}" method="GET" enctype="multipart/form-data" novalidate>
		    <div class="col-sm-3">

	          <div class="form-group">
		          {{ createform.casename.label_tag|add_class:"col-sm-6 text-primary" }}
		          <div class="col-sm-6">
		          {{ createform.casename|add_class:"form-control" }}
	     </div>
	          </div>
            </div>

		    <div class="col-sm-3">
<div class="form-group">
		          <label for="case_suite" class="col-sm-6 text-primary">属于套件</label>
		          <div class="col-sm-6">
		          <input type="text" name="case_suite" maxlength="50" required="" id="case_suite" class="form-control">
	     </div>
	          </div>
		    </div>
        		    <div class="col-sm-3">
<!--                	          <div class="form-group">-->
<!--		          {{ createform.relateapi.label_tag|add_class:"col-sm-6 text-primary" }}-->
<!--		          <div class="col-sm-6">-->
<!--		          {{ createform.relateapi|add_class:"form-control" }}-->
<!--	     </div>-->
<!--	          </div>-->

		    </div>
<div class="col-sm-3">

			    <button type="submit" class="btn btn-default pull-left">查询</button>

     <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#create">新增</button>
			  </div>
 </form>
	      </div>


<table class="table table-hover">

<thead>

 <tr class="btn-primary" >
 {% for key,value in casetitle.items %}
      {% if key not in 'teststep,variables,base_url,examineType,expecthttpCode,expectdata' %}
						<th>{{ value }}<a href="{% url 'testcase-list' %}?ordering={{ key }}">↓</a></th>
     {% endif %}
 {% endfor%}
     <th>操作</th>
				    </tr>

<tbody>
{% for case in caselist %}

<tr>
    {% for key,value in case.items %}

    {% if key not in 'teststep,variables,base_url,examineType,expecthttpCode,expectdata,caseform' %}
<td>{{ value }}</td>
    {% endif %}
 {% endfor%}
    <td class="btn-group-xs">
        <button class="btn btn-danger" data-toggle="modal" data-target="#delete{{ case.id }}">删除</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#edit{{ case.id }}">编辑</button>
<!--         <button class="btn btn-primary"><a href="/admin/firstproj/testcase/{{ case.id }}/change/" target="_blank" style="color:#ffffff">编辑</a></button>-->
<button class="btn btn-primary" data-toggle="modal" data-target="#view{{ case.id }}">查看</button>
        <button class="btn btn-warning" data-toggle="modal" data-target="#runcase{{ case.id }}">运行</button>

    </td>

        						<div class="modal fade in" id="delete{{ case.id }}">
              <div class="modal-dialog">
                <div class="modal-content">
                    <form class="button-form" action="{% url 'testcase-detail' case.id %}" data-method="DELETE">
                  <div class="modal-body">
                      {% csrf_token %}
                    <h4 class="text-center">确定删除吗？</h4>
                  </div>
                  <div class="modal-footer">
                           <ul class="list-inline" style="text-align:center">
<li><button type="submit" class="btn btn-primary center-block">提交</button></li>
                    <li><button type="button" class="btn btn-default center-block" data-dismiss="modal">关闭</button></li>
                            </ul>

                  </div>
                          </form>
                </div>
              </div>
            </div>

						<div class="modal fade in" id="edit{{ case.id }}">
		  <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="text-center">编辑菜单</h4>
				</div>
                 <form action="{% url 'testcase-detail' case.id %}" method="PUT" enctype="multipart/form-data">
                              <fieldset>
					<div class="modal-body">
{% csrf_token %}
 {% for field in case.caseform %}
  {% if field.name in "teststep,variables" %}
               <div class="row form-group">
    {{ field.label_tag|add_class:"col-sm-2 control-label" }}
    <div class="col-sm-10">
      {{ field|add_class:"form-control" }}<a class="related-widget-wrapper-link add-related" id="add_id_{{ field.name }}" href="/admin/firstproj/{{ field.name }}/add/" target="_blank"><img src="{% static "test_framework/img/icon-addlink.svg" %}" alt="Add">新增{{ field.name }}</a>
        <a class="related-widget-wrapper-link change-related" id="change_id_{{ field.name }}" href="/admin/firstproj/{{ field.name }}/" target="_blank"><img src="{% static "test_framework/img/icon-changelink.svg" %}" alt="Change">管理{{ field.name }}</a>
    </div>
  </div>

                        {% else %}
  <div class="row form-group">
    {{ field.label_tag|add_class:"col-sm-2 control-label" }}
    <div class="col-sm-10">
      {{ field|add_class:"form-control" }}
    </div>
  </div>
                        {% endif %}
{% endfor %}

			</div>
					<div class="modal-footer">

  <ul class="list-inline" style="text-align:center">
<li><button type="submit" class="btn btn-primary js-tooltip center-block">提交</button></li>
                    <li><button type="button" class="btn btn-default center-block" data-dismiss="modal">关闭</button></li>
                            </ul>
                    </div>
<fieldset>
					      </form>

			  </div>
			</div>
        </div>

						<div class="modal fade in" id="view{{ case.id }}">
		  <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="text-center">用例详情</h4>
				</div>
                 <form novalidate>
                              <fieldset>
					<div class="modal-body">

{% csrf_token %}
                         {% for field in case.caseform %}
                        {% if field.name == "teststep" %}
                                                  <div class="row form-group table-bordered well">
    {{ field.label_tag|add_class:"col-sm-2 control-label" }}
    <div class="col-sm-10">
        <ul class="list-group">
         {% for obj in case.caseform.initial.teststep %}
             <div class="table-bordered"></div>
        <li class="list-group-item">{{ obj }}</li>
{% endfor %}
            </ul>
<!--      {{ suite.suiteform.initial.suitecase|unordered_list }}-->
    </div>
  </div>

                                                {% elif field.name == "variables" %}
                                                  <div class="row form-group table-bordered well">
    {{ field.label_tag|add_class:"col-sm-2 control-label" }}
    <div class="col-sm-10">
        <ul class="list-group">
         {% for var in case.caseform.initial.variables %}
             <div class="table-bordered"></div>
        <li class="list-group-item">{{ var }}</li>
{% endfor %}
            </ul>
<!--      {{ suite.suiteform.initial.suitecase|unordered_list }}-->
    </div>
  </div>
                         {% else %}
                          <div class="row form-group">
    {{ field.label_tag|add_class:"col-sm-2 control-label" }}
    <div class="col-sm-10">
      {{ field.value }}
    </div>
  </div>
                        {% endif %}
{% endfor %}



			</div>
					<div class="modal-footer">

						<div>
					  <button type="button" class="btn btn-default center-block" data-dismiss="modal">关闭</button></div>
                    </div>
<fieldset>
					      </form>

			  </div>
			</div>
        </div>

						<div class="modal fade in" id="runcase{{ case.id }}">
		  <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="text-center">用例详情</h4>
				</div>
<form action="{% url 'testcase-detail' case.id %}runcase/" method="POST" enctype="multipart/form-data" novalidate>
                              <fieldset>
					<div class="modal-body">

{% csrf_token %}
                         {% for field in case.caseform %}
                        {% if field.name == "teststep" %}
                                                  <div class="row form-group table-bordered well">
    {{ field.label_tag|add_class:"col-sm-2 control-label" }}
    <div class="col-sm-10">
        <ul class="list-group">
         {% for obj in case.caseform.initial.teststep %}
             <div class="table-bordered"></div>
        <li class="list-group-item">{{ obj }}</li>
{% endfor %}
            </ul>
<!--      {{ suite.suiteform.initial.suitecase|unordered_list }}-->
    </div>
  </div>

                                                {% elif field.name == "variables" %}
                                                  <div class="row form-group table-bordered well">
    {{ field.label_tag|add_class:"col-sm-2 control-label" }}
    <div class="col-sm-10">
        <ul class="list-group">
         {% for var in case.caseform.initial.variables %}
             <div class="table-bordered"></div>
        <li class="list-group-item">{{ var }}</li>
{% endfor %}
            </ul>
<!--      {{ suite.suiteform.initial.suitecase|unordered_list }}-->
    </div>
  </div>
                         {% else %}
                          <div class="row form-group">
    {{ field.label_tag|add_class:"col-sm-2 control-label" }}
    <div class="col-sm-10">
      {{ field.value }}
    </div>
  </div>
                        {% endif %}
{% endfor %}



			</div>
					<div class="modal-footer">
  <ul class="list-inline" style="text-align:center">
<li><button type="submit" class="btn btn-primary js-tooltip center-block">提交</button></li>
                    <li><button type="button" class="btn btn-default center-block" data-dismiss="modal">关闭</button></li>
                            </ul>
                    </div>
<fieldset>
					      </form>

			  </div>
			</div>
        </div>





</tr>
 {% endfor%}

</tbody>

</thead>

</table>
<div style="text-align: center">
{% include "test_framework/pagination/numbers.html" %}
</div>

   </div>


</div>

<div class="modal fade in" id="create">
		  <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="text-center">新增菜单</h4>
				</div>
                <form action="{% url 'testcase-list' %}" method="POST" enctype="multipart/form-data">
                    <fieldset>
					<div class="modal-body">
{% csrf_token %}
{% for field in createform %}
 {% if field.name in "teststep,variables" %}
  <div class="row form-group">
    {{ field.label_tag|add_class:"col-sm-2 control-label" }}
    <div class="col-sm-10">
      {{ field|add_class:"form-control" }}<a class="related-widget-wrapper-link add-related" id="add_id_{{ field.name }}" href="/admin/firstproj/{{ field.name }}/add/" target="_blank"><img src="{% static "test_framework/img/icon-addlink.svg" %}" alt="Add">新增{{ field.name }}</a>
        <a class="related-widget-wrapper-link change-related" id="change_id_{{ field.name }}" href="/admin/firstproj/{{ field.name }}/" target="_blank"><img src="{% static "test_framework/img/icon-changelink.svg" %}" alt="Change">管理{{ field.name }}</a>
    </div>
  </div>
                       {% else %}
  <div class="row form-group">
    {{ field.label_tag|add_class:"col-sm-2 control-label" }}
    <div class="col-sm-10">
      {{ field|add_class:"form-control" }}
    </div>
  </div>
                        {% endif %}
{% endfor %}

			</div>
					<div class="modal-footer">
                           <ul class="list-inline" style="text-align:center">
<li><button type="submit" class="btn btn-primary js-tooltip center-block">提交</button></li>
                    <li><button type="button" class="btn btn-default center-block" data-dismiss="modal">关闭</button></li>
                            </ul>
                    </div>

</fieldset>
                </form>

			  </div>
			</div>
        </div>




     {% endblock content %}